<div class="card" style="width: 25rem; margin-bottom: 12px">
  <!--img class="card-img-top" src="https://vignette.wikia.nocookie.net/renryuu/images/4/4b/Red_Ogre.png/revision/latest/scale-to-width-down/168?cb=20160703132326" alt="Card image cap"-->
  <form (ngSubmit)="onClick()"  #charForm = "ngForm">
    <input name="id" type="hidden" [(ngModel)]="id" >
  <div class="card-body">
      <label for="name"></label>
      <div >
          <i class="mdi mdi-bottle-wine" aria-hidden="true"></i>
        <h2>{{name}}</h2>
        <p>{{description}}</p>
      </div>
      {{quantity}}

  </div>
  <div class="card-body ">
  <button>{{purchaseString}}</button>
  </div>

  </form>

</div>

