<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Hero Arena!
  </h1>
  <img width="300" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<table style="text-align:center; width: 100%; margin: auto">
  <tr>
    <td style="text-align:center; width: 100%">
      <div class="formgroup" style="text-align:left; width: 20%; margin: auto">
        <label for="username" style="text-align:left">Username:<br></label> <input class="form-control simple-book"
          type="text" id="username" />
        <br>
      </div>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width: 100%">
      <div class="formgroup" style="text-align:left; width: 20%; margin: auto">
        <label for="password">Password:<br></label> <input class="form-control simple-book" type="text" id="password" />
        <br>
      </div>
    </td>
  </tr>
  <br>
  <br>
  <tr>
    <td style="width: 50%; margin: auto">
      <div>
        <button type="submit" class="btn btn-primary emp-btn" id="submitbtn" onclick="authenticate()">Submit</button>
      </div>
    </td><td style="width: 50%; margin: auto">
        <div>
          <button type="submit" class="btn btn-primary emp-btn" id="registerbtn" onclick="register()">register</button>
        </div>
      </td>
  </tr>
</table>

<router-outlet></router-outlet>