.vertical-menu {
    width: 400px;
    color: black;
}
  
.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    font-size: 30pt
}
  
.vertical-menu a:hover {
    background-color: #ccc;
}
  
.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}