<table style="width: 100%; height: 100%; margin: auto">
    <tr>
        <td>
           <br> <br>
        </td>
    </tr>
    <tr>
        <td class="vertical-menu" valign="top">
            <!-- <a (click)="showHeroes()">Show Heroes</a> -->
            <a (click)="showHeroes()">Show Heroes</a>
            <a (click)="showEquip()">Equip Heroes</a>
            <a (click)="showBattle()">Battle</a>
        </td>
        <td style = "margin: auto">
            <div *ngIf="this.pss.getState() == 1">
                <app-roster-display></app-roster-display>
            </div>
            <div *ngIf="this.pss.getState() == 2">

            </div>
            <div *ngIf="this.pss.getState() == 3">
                <app-battle></app-battle>
            </div>
        </td>
    </tr>
</table>