<div *ngIf="this.authent.getUser().id == -1 && !isRegistering()">
  <div style="text-align:center">

    <br>
    <div style="text-align:right; margin-right: 20px">
      <button type="submit" class="btn btn-primary emp-btn" id="registerbtn" (click)="setRegister()">Register</button>
    </div>

    <h1 style="font-size: 60px; margin: auto">
      <br>
      &nbsp;Welcome, Gladiators!

      <!--<img width="300" alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    -->

      <br>
      <br>
    </h1>


    <div class="formgroup" style="text-align:left; width: 15%; margin: auto">
      <label for="username" style="text-align:left">Username:<br></label> <input class="form-control simple-book"
        type="text" id="username" />
      <br>
    </div>
    <div class="formgroup" style="text-align:left; width: 15%; margin: auto">
      <label for="password">Password:<br></label> <input class="form-control simple-book" type="password"
        id="password" />
      <br>
    </div>

    <br>
    <br>

    <div>
      <button type="submit" class="btn btn-primary emp-btn" id="submitbtn" (click)="authenticate()">Submit</button>
    </div>

    <br>
    <br>

    <div [innerHTML]="errorString"></div>

  </div>
</div>

<div *ngIf="this.authent.getUser().id != -1 && !isRegistering()">
  <br>
  <div style="text-align:right; margin-right: 20px">
    <table width = "100%">
      <tr>
        <td style="text-align:left; margin-left: 20px">
          <h1>Gladiator Arena </h1>
        </td>
        <td>
          <button type="submit" class="btn btn-primary emp-btn" id="logoutbtn" (click)="logout()">Log Out</button>
        </td>
      </tr>
    </table>
  </div>

  <app-mainpage></app-mainpage>
</div>

<div *ngIf="isRegistering()">
  <div style="text-align:center">
    <br>
    <div style="text-align:right; margin-right: 20px">
      <button type="submit" class="btn btn-primary emp-btn" id="backbtn" (click)="back()">Back</button>
    </div>

    <h1 style="font-size: 30px; margin: auto">
      <br>
      &nbsp;Please Register

      <br>
      <br>
      <br>
    </h1>

    <div class="formgroup" style="text-align:left; width: 15%; margin: auto">
      <label for="username" style="text-align:left">Username:<br></label> <input class="form-control simple-book"
        type="text" id="username" />
      <br>
    </div>

    <div class="formgroup" style="text-align:left; width: 15%; margin: auto">
      <label for="password1">Password:<br></label> <input class="form-control simple-book" type="text" id="password1" />
      <br>
    </div>

    <div class="formgroup" style="text-align:left; width: 15%; margin: auto">
      <label for="password2">Password:<br></label> <input class="form-control simple-book" type="text" id="password2" />
      <br>
    </div>

    <br>
    <br>

    <div>
      <button type="submit" class="btn btn-primary emp-btn" id="submitbtn" (click)="register()">Submit</button>
    </div>

    <br>
    <br>

    <div [innerHTML]="errorString"></div>
  </div>
</div>