<div class="card" style="width: 18rem; margin-bottom: 12px">
    <img class="card-img-top" src="https://vignette.wikia.nocookie.net/renryuu/images/4/4b/Red_Ogre.png/revision/latest/scale-to-width-down/168?cb=20160703132326" alt="Card image cap">
    <form (ngSubmit)="onSubmit()"  #charForm = "ngForm">
      <input name="id" type="hidden" [(ngModel)]="id" >
    <div class="card-body">
        <label for="name"></label>
        <div >
          <h2><input type="text" name="name" class="form-control-plaintext" required [(ngModel)]="name"></h2>

        </div>

      <textarea class="form-control-plaintext" name="description" required [(ngModel)]="description" ></textarea>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
          <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"> <i class="mdi mdi-heart-multiple" aria-hidden="true"></i>
                </div>
              </div>
              <input type="number" class="form-control" name="health" required [(ngModel)]="health">
            </div>
      </li>
      <li class="list-group-item"><div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"> <i class="mdi mdi-sword-cross" aria-hidden="true"></i>
            </div>
          </div>
          <input type="number" class="form-control" name="strength" required [(ngModel)]="strength"  >
        </div></li>
      <li class="list-group-item"><div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"> <i class="mdi mdi-shield-sun" aria-hidden="true"></i>
            </div>
          </div>
          <input type="number" class="form-control" name="dexterity" required [(ngModel)]="dexterity" >
        </div></li>
    </ul>
    <div class="card-body ">
      <h4><input type="text"  class="form-control-plaintext" name="rarity" required [(ngModel)]="rarity"></h4>
      <input type="submit" [disabled]="!charForm.form.valid">
      <button (click) = "delete()">Delete</button>
    </div>

    </form>

  </div>
