<p>roster-display works!</p>


<ul class="roster">
    <!-- <li class="roster" *ngFor="let g of gladiators" (click)="selectGladiator(gid)"><span class="badge">{{ g.id }}</span>{{ g.name }}</li> -->
    <li class="roster" *ngFor="let g of gladiators" (click)="selectGladiator(g.id)"><span class="badge">{{ g.id }}</span>{{ g.name }}</li>

</ul>

<div align="center" vertical-align="top" *ngIf="selectedGladiator">
    <div>{{ selectedGladiator.name }}</div>
    <div>Level {{ selectedGladiator.level }}</div>
    <div>{{ selectedGladiator.currentHealth }} / {{ selectedGladiator.maxHealth }}</div>
    <div>STR: {{ selectedGladiator.strength }}</div>
    <div>DEX: {{ selectedGladiator.dexterity }}</div>
    <div></div>



</div>

