<div id="container">
    <div>
        <ul class="roster" >
            <!-- <li class="roster" *ngFor="let g of gladiators" (click)="selectGladiator(gid)"><span class="badge">{{ g.id }}</span>{{ g.name }}</li> -->
            <li class="roster" *ngFor="let g of gladiators" (click)="selectGladiator(g.id)">{{ g.name }}</li>
            <!-- <span class="badge">{{ g.id }}</span> was before the </li> in the last line-->
        </ul>
    </div>
    <!-- <div style="margin-left:auto;" align="center" vertical-align="top" *ngIf="selectedGladiator"> -->
    <div *ngIf="!selectedGladiator">nothing here!</div>
    <div  align="center" vertical-align="top" *ngIf="selectedGladiator">

        <div>{{ selectedGladiator.name }}</div>
        <div>Level {{ selectedGladiator.level }}</div>
        <div>{{ selectedGladiator.currentHealth }} / {{ selectedGladiator.maxHealth }}</div>
        <div>STR: {{ selectedGladiator.strength }}</div>
        <div>DEX: {{ selectedGladiator.dexterity }}</div>
        <div>VIT: {{ selectedGladiator.vitality }}</div>

        <br>
        <button type="submit" class="btn btn-primary emp-btn" id="submitbtn" (click)="this.bc.getEnemyGladiators()">Fight a Gladiator</button>
        
    </div>
    <div align="center" *ngIf="!levelUp"></div>

<!--
  <div style="margin-left:auto;" align="right" *ngIf="getLevelUp()" >
        <app-level-up [levelUp]="levelUp"></app-level-up>
  -->
    <div style="margin-left:auto;" align="right" *ngIf="levelUp" >
        <app-level-up [levelUp]='levelUp'></app-level-up>

    </div>

</div>

